@font-face {
  font-family: 'Roboto-Black';
  src: url('fonts/Roboto/Roboto-Black.woff') format('woff'), url('fonts/Roboto/Roboto-Black.ttf') format('truetype'), url('fonts/Roboto/Roboto-Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-BlackItalic';
  src: url('fonts/Roboto/Roboto-BlackItalic.woff') format('woff'), url('fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype'), url('fonts/Roboto/Roboto-BlackItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('fonts/Roboto/Roboto-Bold.woff') format('woff'), url('fonts/Roboto/Roboto-Bold.ttf') format('truetype'), url('fonts/Roboto/Roboto-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
