@import 'fonts/_fonts.scss';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto-black', sans-serif;
}

.container {
  flex: 1 1 auto;
  display: flex;
}
